// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');



html{
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  // transition: all 0.3s ease-in-out;
  background-color: $body-bg;
  overflow-x: hidden;
  @include media-breakpoint-down(md) {
    font-size: 50%;
  }
  // @include media-breakpoint-down(xs) {
  //   font-size: 40%;
  // }
}


body{
  font-family: 'Raleway', sans-serif;
  transition: all 0.3s ease-in-out;
  transform: rotate3d(0,0,0,0deg);
  font-size: 1.3rem;
  // overflow-y: hidden;
  overflow-x: hidden;
  @include media-breakpoint-only(xs) {
    text-align: center;
  }
  *{
    transition: all 0.3s ease-in-out;
  }


}

// a{
//   color: $text-primary;
// }

p{
  color: $text-gray;
  font-size: 1.3rem;
  letter-spacing: 0.13em;
  opacity: 0.6;
  line-height: 1.85;
  @include media-breakpoint-down(md) {
    font-size: 1.6rem;
  }
}

h1{
  font-size: 7rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  padding-bottom: 4rem;
  @include media-breakpoint-down(sm) {
    font-size: 5rem;
  }
}

h3{
  font-size: 1.3rem;
  letter-spacing: 0.13em;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.pt-30{
  padding-top: 30rem;
}
.pt-10{
  padding-top: 10rem;
}
.pb-9{
  padding-bottom: 9rem;
}
.pb-10{
  padding-bottom: 10rem;
}
.pb-20{
  padding-bottom: 20rem;
}
.text-upper{
    text-transform: uppercase;
}

.secondary{
  color: $secondary;
}

// ============== Elementy graficzne ============
.logo_socials{
  width:21px;
  height:21px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}
.logo_fb{
  @extend .logo_socials;
  background-image: url("../img/logo_fb.svg");
}
.logo_twitter{
  @extend .logo_socials;
  background-image: url("../img/logo_twitter.svg");
}
.logo_instagram{
  @extend .logo_socials;
  background-image: url("../img/logo_instagram.svg");
}
.logo_twitch{
  @extend .logo_socials;
  background-image: url("../img/logo_twitch.svg");
}

.lil-sygnet{
  -webkit-filter: url("#glitch");
  filter: url("#glitch");
  width:6.8rem;
  height:5.2rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  background-image: url("../img/lil-sygnet.svg");
  &--l1{
    @extend .lil-sygnet;
    position: absolute;
    right:25%;
    bottom:5rem;
  }
  &--l2{
    @extend .lil-sygnet;
    position: absolute;
    left:15%;
    top:12rem;
  }
}

// <span class="let-a"></span>
// <span class="let-n"></span>
// <span class="let-o"></span>
// <span class="let-y"></span>
// <span class="let-m"></span>
.letters{
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  height: 4.4rem;
  position: absolute;
  z-index: 200;
  -webkit-filter: url("#glitch");
  filter: url("#glitch");
}
.let-a{
  @extend .letters;
  width: 4.0rem;
  background-image: url("../img/let-a.svg");
  &--l1{
    @extend .let-a;
    left:3rem;
    top:30rem;
  }
  &--l2{
    @extend .let-a;
    left:20rem;
    top:-3rem;
  }
}
.let-n{
  @extend .letters;
  width: 3.5rem;
  background-image: url("../img/let-n.svg");
  &--l1{
    @extend .let-n;
    left:20rem;
    bottom:-2rem;
  }
  &--l2{
    @extend .let-n;
    left:35rem;
    top:20rem;
  }
  &--l3{
    @extend .let-n;
    left:45%;
    top:15rem;
  }
  &--l4{
    @extend .let-n;
    left:10%;
    bottom:20rem;
  }
}
.let-o{
  @extend .letters;
  width: 4.4rem;
  background-image: url("../img/let-o.svg");
  &--l1{
    @extend .let-o;
    right: -10rem;
    top:9rem;
  }
  &--l2{
    @extend .let-o;
    right: 0;
    bottom: -3rem;
  }
  &--l3{
    @extend .let-o;
    right: 3rem;
    top: 4rem;
  }
  &--l4{
    @extend .let-o;
    right: 3rem;
    top: 4rem;
  }
  &--l5{
    @extend .let-o;
    left: 10%;
    top: 35%;
  }
}
.let-y{
  @extend .letters;
  width: 3.5rem;
  background-image: url("../img/let-y.svg");
  &--l1{
    @extend .let-y;
    left: -5rem;
    bottom: 5rem;
  }
  //streamerzy
  &--l2{
    @extend .let-y;
    left: 17%;
    bottom: -17rem;
  }
  // sklep
  &--l3{
    @extend .let-y;
    right: 7rem;
    top: 7rem;
  }
}
.let-m{
  @extend .letters;
  width: 5.2rem;
  background-image: url("../img/let-m.svg");
  &--l1{
    @extend .let-m;
    left:20rem;
    top:-2rem;
  }
  &--l2{
    @extend .let-m;
    right:10rem;
    top:10rem;
  }
  &--l3{
    @extend .let-m;
    right:20%;
    bottom:28rem;
  }
}

.red-square{
  background-color: $secondary;
  position: absolute;
  height: 10rem;
  width: 10rem;
  z-index: 10;
  &--l1{
    @extend .red-square;
    left: -5rem;
    bottom: -5rem;
  }
  &--l2{
    @extend .red-square;
    right: -16rem;
    top:0rem;
  }
  &--lshop{
    @extend .red-square;
    left:8rem;
    bottom:3rem;
  }
  &--smolshop{
    @extend .red-square;
    height: 4.6rem;
    width: 4.6rem;
    right: 20%;
    top: 13rem;
  }
  &--smol{
    @extend .red-square;
    height: 6rem;
    width: 6rem;
    left: 6rem;
    bottom: -3rem;
    z-index:1;
  }
  &--big{
    @extend .red-square;
    height: 28rem;
    width: 28rem;
    right: -6rem;
    bottom: -6rem;
  }
}




.elem_6x{
  background-image: url("../img/elem_6x.svg");
  width:7px;
  height:166px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
  z-index: 30;
  -webkit-filter: url("#glitch");
  filter: url("#glitch");
  // transform: rotate(180deg);
  // transform-origin: 0 0;
  &--loc1{
    @extend .elem_6x;
    right: 5.5rem;
    top:50%;
    transform: translateY(-50%);
  }

  &--loc2{
    @extend .elem_6x;
    left: 3rem;
    bottom: -5rem;
  }
  &--loc2-tourn{
    @extend .elem_6x;
    left: -3rem;
    bottom: -5rem;
  }
  &--loc3{
    @extend .elem_6x;
    right: 2rem;
    bottom: -4rem;
    transform: rotate(90deg);
  }
  &--lshop{
    @extend .elem_6x;
    left:15rem;
    bottom:6rem;
  }
  &--l4{
    @extend .elem_6x;
    right:16rem;
    bottom:13rem;
  }
}

.elem_x{
  background-image: url("../img/elem_x.svg");
  width:7px;
  height:7px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-flex;
  &-hor{
    @extend .elem_x;
    transform: rotate(90deg);
  }
}

a{
  &:hover{
    color: $link-color;
    -webkit-filter: url("#glitch");
    filter: url("#glitch");}
}
.links{
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.13em;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    span{
      margin-right: 2rem;
    }
    &::after{
      content: '';
      background-image: url("../img/arrow.svg");
      width:22px;
      height:12px;
      background-repeat: no-repeat;
      display: inline-flex;
    }
    &:hover{
      color: $link-color;
      -webkit-filter: url("#glitch");
      filter: url("#glitch");
      // background-color: $link-hover-color;
      // padding: 1rem;
    }
}
.links--arrowDown{
  @extend .links;
  &::after{
    transform: rotate(90deg);
  }
}
// =================== NAVBAR =================
.navbar{
  background: rgb(8,8,8);
  background: linear-gradient(180deg, rgba(8,8,8,1) 0%, rgba(0,0,0,0) 100%);
  position: relative;
  z-index: 800;
}

.nav-link{
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.13em;
  font-weight: 500;
  text-transform: uppercase;
  color: $link-color!important;
  text-decoration: $link-hover-decoration!important;
  transition: all 0.2s ease-in-out;

  &:hover{
    color: $link-hover-color!important;
    transition: all 0.2s ease-in-out;

  }
}
.nav-link_shop a{
  color: $secondary!important;
  transition: all 0.2s ease-in-out;
  &:hover{
    color: $secondary!important;
    background-color: rgba(255, 255, 255, 0.9)!important;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.navbar{
  padding: 7rem 0;
}

// ============+==== MAIN CSS ===============

.main_page{
  // height: 90rem;
  background-image: url("../img/main_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -15rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
  position: relative;


}
.main_title{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 25rem 0;
  // z-index: 150;
}
.title{
  font-weight: 800;
  font-size: 12rem;
  line-height: 12rem;
  position: relative;
  z-index: 200;
  letter-spacing: 0.07em;
  span{
    color: $secondary;
  }
  img{
    max-width: 60rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 10rem;
    line-height: 10rem;
  }
}

// .main_title::before{
// content: "";
// background-image: url("../img/sygnet.svg");
// background-repeat: no-repeat;
// width:659.119px;
// height:503.6px;
// background-size: 100%;
// color: $secondary;
// position: absolute;
// z-index: 100;
// opacity: 0.2;
//
// }
.titleBG__wrapper{
  position: absolute;
}
// .titleBG__glitch{
//   filter: url(#glitch);
// }

.sygnet--wrapper{
  position: absolute;
}
$sygnet-move: 5rem;
.sygnet_bg{
  background: url("../img/sygnet-img.png");
  // mask: url("../img/sygnet.svg");
  width:66rem;
  height:50rem;
  background-size: contain;
  background-repeat: no-repeat;
  // mask-size: contain;
  // mask-repeat: no-repeat;
  // position: absolute;
  z-index: 100;
  opacity: 1;
  // background-color: #3A3A3A;
  margin-top: $sygnet-move;
  filter: brightness(0.23);
  @include media-breakpoint-down(sm) {
    width:60rem;
    height:46rem;
  }
}

.sygnet_bg_white{
  @extend .sygnet_bg;
  // margin-top: $sygnet-move;
}
.sygnet_bg_red{
  @extend .sygnet_bg;
  background-color: $secondary;
  margin-top: $sygnet-move +5rem;
}
.sygnet_bg_cyan{
  @extend .sygnet_bg;
  background-color: #00CBD2;
  margin-top: $sygnet-move -5rem;
}


.socials{
  &__title{
    position: relative;
    span{
      opacity: 0.6;
    }
    &::after{
      content: '';
      margin-left: 2rem;
      // position: absolute;
      @extend .elem_x-hor;
    }
  }

}

.sponsors{
  &__title{
    span{
      opacity: 0.6;
    }
    &::before{
      content: '';
      margin-right: 2rem;
      @extend .elem_x-hor;
    }

  }
  img{
    max-height: 5rem;
    margin-bottom: 1rem;
  }
}


// ============ ABOUT US ===========
$about-section-height: 57rem;
.about{
  &__sectionA{
    position: relative;
    // min-height: $about-section-height;
    &--text{
      padding-top: 12rem;
      @include media-breakpoint-up(xl){
        padding: 12rem 6rem 0 9rem;
      }
    }
  }
  &__sectionB{
    position: relative;
    // min-height: $about-section-height;
    &--text{
      padding-top: 10rem;
      @include media-breakpoint-up(md){
        padding-top: 20rem;
      }
      @include media-breakpoint-up(xl){
        padding: 20rem 0rem 0 10rem;
      }

    }
  }

  &__bg{
    position: relative;
    &--1{
      min-height: $about-section-height;
      width: auto;
      background-image: url("../img/about1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: -14rem;
      @include media-breakpoint-down(sm){
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: 4rem;
      }
      &-malta{
        @extend .about__bg--1;
        background-image: url("../../../uploads/2021/05/anonymo_malta_chibi.jpg");
        background-size: contain;

      }
    }
    &--2{
      min-height: $about-section-height;
      width:auto;
      margin-left: -14rem;
      background-image: url("../img/about2.png");
      background-repeat: no-repeat;
      background-position: center;
      // background-position: 50% 50%;
      background-size: cover;
      position: relative;
      z-index: 5;
      // top: 0;
      // right: 0;
      // margin-right: -15px;
      // @include media-breakpoint-down(sm){
      //   display: none;
      // }
    }
  }

}


.team{
  position: relative;
  // min-height: 90rem;
  padding-top: 30rem;
  p{
    text-align: center;
  }
  &__cont{
    position: relative;
    width: 26rem;
    height: 34rem;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(8,8,8,1) 0%, rgba(255,255,255,0.1) 100%);
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
  }
  &__photo{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    z-index:120;
    right: 0;
    bottom: 0;
    width: initial!important;
  }
  &__social1{
    position: absolute;
    height: 3.4rem;
    width: 3.4rem;
    background-image: url("../img/team_fb.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 3rem;
    left: 1rem;
  }
  &__social2{
    position: absolute;
    height: 3.4rem;
    width: 3.4rem;
    background-image: url("../img/team_insta.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 7.6rem;
    left: 1rem;
  }
  &__name{
    font-size: 3rem;
    letter-spacing: 0.13em;
    font-weight: 800;
    z-index: 150;
    position: absolute;
    left: 5rem;
    bottom: 1rem;
    transform-origin: bottom left ;
    transform: rotate(-90deg);

  }
}

// SLIDER
#swiper-teamsThumbs.swiper-container{
  padding-top: 3rem;
  border-bottom: 1px solid #fff;
  text-align: center;
    .swiper-wrapper{
      align-items: flex-end;
    }
    .team_name{
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.13;
      color: rgba(255, 255, 255, 0.3);
      width: 100%;
      padding-bottom: 1.4rem;
      // white-space: nowrap;
      cursor: pointer;
    }
    .vert-line{
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      height: 1.9rem;
      transform: translateX(50%);
    }
    .swiper-slide-thumb-active{
      .team_name{
        color: rgba(255, 255, 255, 1);
      }
      .vert-line{
        border-left: 1px solid rgba(255, 255, 255, 1);
      }
    }
}
#swiper-teams.swiper-container{
  // padding: 3rem 0;
}
.swiper-team-container{
  padding: 5rem 0;
}

.swiper-container_tournament{
  padding: 10rem 0;
}
.swiper-container_tournament{
  position: relative;
}
.swiper-scrollbar{
  bottom: 5rem;
  background: #484848;
}

.swiper-scrollbar-drag {
  height: 28px;
  border-radius: 50%;
  border: 3px solid #FFF;
  background: rgba(0,0,0,1);
  top: -14px;
}

.swiper-container-horizontal > .swiper-scrollbar {
  /* bottom: 3px; */
  bottom: 20px;
}

.swiper-button-next, .swiper-button-prev {
  color: #FFF;
}



// ================ STREAMERS ===============

.streamers{
  position: relative;
  background-image: url("../img/streamers_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 75rem;
  margin-bottom: 10rem;
  &--wrapper{
    padding-top: 23rem;
  }
  &__text{
    padding-top: 10rem;
    @include media-breakpoint-up(xl){
      padding-left: 5rem;
    }
    @include media-breakpoint-down(lg){
    padding-bottom: 15rem;
    }
  }
  &__circles-cont{
    padding-bottom: 23rem;
    position: relative;
    height: 60rem;
    // bg do testow
    // background-color: rgba(200,200,200,0.5);
    @include media-breakpoint-up(xl){
      margin-bottom: -23rem;
    }
  }
  &__circle{
    position: absolute;
    height: 15rem;
    width: 15rem;
    border: 5px solid transparent;
    border-radius: 50%;
    // outline: 2px solid #FFF;
    box-shadow: 0 0 0 2px #FFF;
    background-repeat: no-repeat;
    background-size: contain;
    &:hover{
      transform: scale(1.1);

    }
    @media (min-width: 1200px) and (max-width: 1400px){
      height: 13.5rem;
      width: 13.5rem;
    }
    &--1{
      @extend .streamers__circle;
      // background-image: url("../img/streamer1.png");
      top: 1rem;
      left: 0;
    }
    &--2{
      @extend .streamers__circle;
      // background-image: url("../img/streamer2.png");
      top: 0;
      left: 60%;
    }
    &--3{
      @extend .streamers__circle;
      // background-image: url("../img/streamer3.png");
      top: 11rem;
      left: 30%;
    }
    &--4{
      @extend .streamers__circle;
      // background-image: url("../img/streamer4.png");
      top: 23rem;
      left: 4%;
    }
    &--5{
      @extend .streamers__circle;
      // background-image: url("../img/streamer5.png");
      top:30%;
      right: 0;
    }
    &--6{
      @extend .streamers__circle;
      // background-image: url("../img/streamer6.png");
      top: 50%;
      right: 28%;
    }
    &--7{
      @extend .streamers__circle;
      // background-image: url("../img/streamer7.png");
      bottom: 0;
      right: 60%;
    }
    &--8{
      @extend .streamers__circle;
      // background-image: url("../img/streamer8.png");
      bottom: 0;
      right: 8%;
    }
  }
}


.shop{
  position: relative;
  background-image: url("../img/shop_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 90rem;
  &__content{
    padding-top: 35%;
  }
}



// ===================== PROJEKT MALTA =========================

.title--malta{
  @extend .title;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}


.calendar{
  &__head{
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    &--bg{
      background-color: $secondary;
      padding-top: 4rem;
      padding-bottom: 15rem;
      margin-bottom: -12rem;
      text-align: center;
      position: relative;
      border-radius: 4rem 4rem 0 0;
      z-index: 100;
    }
    &--bgShadow{
      // content: "";
      background-color: #373737;
      height: 10rem;
      width: 98%;
      border-radius: 4rem 4rem 0 0;
      position: absolute;
      top: -2rem;
      left:1%;
      z-index: 50;
    }
    &--el{
      width: 5.6rem;
      height: 11rem;
      border: 0.5rem solid $primary;
      border-radius: 3rem;
      position: absolute;
      background-color: $secondary;
      top:-5.5rem;
      &1{
        @extend .calendar__head--el;
        left: 15%;
      }
      &2{
        @extend .calendar__head--el;
        right: 15%;
      }
    }
  }
  &__section{
    padding-top: 30rem;
    padding-bottom: 20rem;
  }
  &__title{
    color: #FFF;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.14em;
    text-transform: uppercase;
  }
  .calendar-content{
    position: relative;
    z-index: 250;
    display: flex;
    justify-content: center;
    text-align: left;
    .calendar-item{
      background-color: #FFF;
      border-radius: 1em;
      padding:7px;
      margin: 0.5em;
      @include media-breakpoint-down(sm){
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
      }
      &__date{
        background-color: $secondary;
        font-size: 2em;
        line-height: 1em;
        color: #FFF;
        padding: 10px;
        border-radius: 10px;
        display: inline-block;
        margin-left: 1em;
        margin-top: 0.5em;
      }
      &__day{
        font-size: 2em;
        padding-left: 1em;
        color: $primary;
        font-weight: 300;
        display: inline-block;

        // display: flex;
      }
      &__action{
        margin-top: 1em;
        border-radius: 1em;
        border: 1px solid #F3F3F3;
        padding: 0 0 1em 0;
        background-color: #F3F3F3;
      }
      &__action--wrap{
        align-items: center;
        justify-content: space-between;
        display: flex;
        border-radius: 1em;
        background-color: #FFF;
        padding: 1em 1em 1em 1em;
      }
      &__hours{
        color: $primary;
        font-weight: 500;
        letter-spacing: -0.01em;
        font-size: 2.2em;
        display: inline;
        padding-right: 7px;
        border-right: 1px solid #F3F3F3;
      }
      &__streamer{
        padding-left: 5px;
        padding-right: 20px;
        display: inline-flex;
        flex-grow: 2;
      }
      &__img{
        width: 1.7em;
        height: 1.7em;
        display: inline-flex;
      }
      &__nick{
        color: $primary;
        font-size: 1.1em;
        letter-spacing: -0.01em;
        display: inline-flex;
        padding-left: 5px;
      }
      &__btn{
        color: $primary;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 500;
        border-radius: 1em;
        letter-spacing: 0.13em;
        padding: 9px 14px;
        border: 1px solid $primary;
        filter: none;
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
        span{
          margin-left: 7px;
        }
        &--soon{
          @extend .calendar-item__btn;
          letter-spacing: 0.06em;
        }
        &--watch{
          @extend .calendar-item__btn;
          &::before{
            content: "";
            background: url("../img/play.svg");
            width:20px;
            height:20px;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-flex;
            animation: play-btn 3s linear infinite;
            transform-origin: 35% 50%;
          }
          &:hover{
            border: 1px solid $secondary;
            color: $secondary;

          }
        }
      }
      &__desc{
        color: $primary;
        font-size: 1.2em;
        letter-spacing: 0.04em;
        font-weight: 500;
        padding: 1em 1em 0 1em;
      }

    }
  }


}


// ======================== Loading icon ====================
$spinnerSize: 20;

svg.spinner {
    width: $spinnerSize + px;
    height: $spinnerSize + px;
    x: 0px;
    y: 0px;
    viewBox: 0 0 $spinnerSize $spinnerSize;

    circle {
        fill: transparent;
        stroke: #212121;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-dasharray: (3.14 * $spinnerSize);
        transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
        animation: spinner 3s linear infinite;
    }
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        -webkit-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        -webkit-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}

@-moz-keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        -moz-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        -moz-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}


@keyframes play-btn {
    0% {
        transform: rotate(0deg);
    } 16% {
        transform: rotate(120deg);
    } 32% {
        transform: rotate(120deg);
    } 48% {
        transform: rotate(240deg);
    } 64% {
        transform: rotate(240deg);
    } 80% {
        transform: rotate(360deg);
    } 100% {
        transform: rotate(360deg);
    }
}






.main-footer{
  padding-top: 28rem;
  padding-bottom: 8rem;
  position: relative;
  overflow: hidden;

  &__title{
    max-width: 50rem;
    padding-bottom: 26rem;
    &--paddings{
      padding-top: 5rem;
      padding-bottom: 8rem;
    }
  }
  &__socials{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 600;
    &--wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__social{
    padding: 0 1.5rem;
  }
  &__menu{
    position: relative;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.13em;
    opacity: 0.6;
    z-index: 600;
  }
  &__rules{
    @extend .main-footer__menu;
    a{
      color: #7E7E7E;
      &:hover{
        color: #FFF;
      }
    }
  }
}



// ========================= TOURNAMENT =============================

.tournament{
  &-hero{
    @extend .main_page;
    &__charactersBG{
      // background-image: url("../img/turniej_postacie.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 137.6rem;
      height: 77.4rem;
    }
    .title img{
      filter: url("#glitch");;
      @include media-breakpoint-down(xs){
        max-width: 100%;
        transition-duration: 0.0s;
        transition: none;
      }
    }
    & .titleBG__wrapper{
      @include media-breakpoint-down(sm){
        transform: scale(0.7) translateX(-30%);
      }
    }
    // & .titleBG__glitch{

    // }
  }


  &-about{
    position: relative;
    background-image: url("../img/streamers_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // min-height: 75rem;
    margin-bottom: 10rem;
    &--wrapper{
      padding-top: 22rem;
      padding-bottom: 20rem;
    }

    &__prizes{
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: rgba(255,255,255,0.1);
      border: 2px solid $secondary;
      border-radius: 10px;
      width: 100%;
      // padding-left: 5rem;
      // padding-right: 5rem;
      margin: 4rem 0;
      // backdrop-filter: blur(12px) brightness(60%);
      position: relative;
      z-index: 50;
      & h1{
        padding-bottom: 1rem;
        margin: 0;
      }
      &--2nd-3rd{
        padding: 0 1vw;
      }
      &--1st{
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(12px) brightness(60%);
        border: 2px solid #FFF;
        border-radius: 10px;
        margin: -3.3rem 0;
        padding: 7rem 4rem;
        position: relative;
        z-index: 55;
      }
      &--place{
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: 0.07rem;
        @include media-breakpoint-only(xs){
          font-size: 1.5rem;
          }
      }
      &--amount{
        font-size: 2.6rem;
        font-weight: 800;
        padding-top: 2.7rem;
        & span {
          font-size: 1.5rem;
          font-weight: 700;
        }
        @include media-breakpoint-only(xs){
          font-size: 1.6rem;
          & span {
            font-size: 1.0rem;
          }
        }
      }
      &--amount1st{
        font-size: 3.4rem;
        font-weight: 800;
        padding-top: 3.4rem;
        & span {
          font-size: 2.0rem;
          font-weight: 700;
        }
        @include media-breakpoint-only(xs){
          font-size: 2.4rem;
          & span {
            font-size: 1.8rem;
          }
        }
      }
    }
    &__text{
      // padding-top: 10rem;
      @include media-breakpoint-up(xl){
        // padding-left: 5rem;
      }
      @include media-breakpoint-down(lg){
        padding-top: 5rem;
        // padding-bottom: 15rem;
      }
    }
  }
  &-teams{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__circle{
      height: 15rem;
      width: 15rem;
      border: 5px solid transparent;
      border-radius: 50%;
      // outline: 2px solid #FFF;
      box-shadow: 0 0 0 2px #FFF;
      background-repeat: no-repeat;
      background-size: contain;
      // margin-left: auto;
      // margin-right: auto;
      // flex-basis: 1;

      &:hover{
        transform: scale(1.1);
      }
    }
    &__teamname{
      // margin-left: auto;
      // margin-right: auto;
      text-align: center;
      font-size: 3rem;
      font-weight: 800;
      letter-spacing: 0.07rem;
      padding-top: 3rem;
      line-height: 1;
      // flex-basis: 1;
      &--team{
        color: $secondary;
      }
      // &--name{

      // }
    }
  }
  &-twitch{
    &__info{
      position: relative;
      min-height: $about-section-height;
      &--text{
        // display: flex;
        // align-items: center;
        padding-top: 6rem;
        padding-bottom: 6rem;
        @include media-breakpoint-up(xl){
          padding-top: 12rem;
        }
      }
      &--link{
        font-size: 1.2rem;
        letter-spacing: 0.13em;
        font-weight: 800;
        padding-left: 1rem;
        padding-bottom: 1rem;
        &:hover{
          color: $link-color;
          -webkit-filter: url("#glitch");
          filter: url("#glitch");
        }
      }
      &--twitch-embed{
        &-cont{
          position: relative;
          overflow: hidden;
          padding-top: 56.25%;
          z-index:200;
          background-image: url("../img/about1.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          @media (min-width: 1200px) and (max-width: 1600px){
            margin-right: -10rem;
            padding-bottom: 5.625rem;
          }
          @media (min-width: 1601px){
            margin-right: -14rem;
            padding-bottom: 7.875rem;
          }

          // padding-bottom: 14rem;
          @include media-breakpoint-down(sm){
            margin-left: -4rem;
            margin-right: -4rem;
            margin-top: 4rem;
          }
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;

      }
    }
  }
}

.bracket{
  &__cont{
    max-height: 1100px;
    padding-bottom: 10rem;
    overflow-y:auto;
  }
}

