// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');




html{
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
  transform: rotate3d(0,0,0,0deg);
  @include media-breakpoint-down(md) {
    font-size: 50%;
  }
}


body{
  font-family: 'Raleway', sans-serif;
  transition: all 0.3s ease-in-out;
  transform: rotate3d(0,0,0,0deg);
  font-size: 1.3rem;
  overflow-x: hidden;
  @include media-breakpoint-only(xs) {
    text-align: center;
  }


}

// a{
//   color: $text-primary;
// }

p{
  color: $text-gray;
  font-size: 1.3rem;
  letter-spacing: 0.13em;
  opacity: 0.6;
  line-height: 1.85;
}

h1{
  font-size: 7rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  padding-bottom: 4rem;
}

h3{
  font-size: 1.3rem;
  letter-spacing: 0.13em;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.mt-30{
  padding-top: 30rem;
}

.text-upper{
    text-transform: uppercase;
}


// ============== Elementy graficzne ============

.logo_socials{
  width:21px;
  height:21px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}
.logo_fb{
  @extend .logo_socials;
  background-image: url("../img/logo_fb.svg");
}
.logo_twitter{
  @extend .logo_socials;
  background-image: url("../img/logo_twitter.svg");
}
.logo_instagram{
  @extend .logo_socials;
  background-image: url("../img/logo_instagram.svg");
}
.logo_twitch{
  @extend .logo_socials;
  background-image: url("../img/logo_twitch.svg");
}

.elem_6x{
  background-image: url("../img/elem_6x.svg");
  width:7px;
  height:166px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
}
.elem_6x--loc1{
  @extend .elem_6x;
  right: 5.5rem;
  top:50%;
  transform: translateY(-50%);
}

.elem_6x--loc2{
  @extend .elem_6x;
  transform: rotate(90deg);
}


.elem_x{
  background-image: url("../img/elem_x.svg");
  width:7px;
  height:7px;
  // background-size: contain;
  background-repeat: no-repeat;
  display: inline-flex;
}


.links{
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.13em;
    font-weight: 600;
    span{
      margin-right: 2rem;
    }
    &::after{
      content: '';
      background-image: url("../img/arrow.svg");
      width:22px;
      height:12px;
      background-repeat: no-repeat;
      display: inline-flex;
    }
}

// =================== NAVBAR =================
.navbar{
  background: rgb(8,8,8);
  background: linear-gradient(180deg, rgba(8,8,8,1) 0%, rgba(0,0,0,0) 100%);
  position: relative;
  z-index: 800;
}

.nav-link{
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.13em;
  font-weight: 500;
  text-transform: uppercase;
  color: $link-color!important;
  text-decoration: $link-hover-decoration!important;
  transition: all 0.2s ease-in-out;

  &:hover{
    color: $link-hover-color!important;
    transition: all 0.2s ease-in-out;

  }
}
.nav-link_shop a{
  color: $link-hover-color!important;
  transition: all 0.2s ease-in-out;
  &:hover{
    background-color: rgba(255, 255, 255, 0.9)!important;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.navbar{
  padding: 7rem 0;
}

// ============+==== MAIN CSS ===============

.main_page{
  height: 90rem;
  background-image: url("../img/main_bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: -15rem;
  padding-top: 15rem;
  position: relative;

}
.main_title{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12rem;
  padding: 25rem 0;
  font-weight: 800;
  // z-index: 150;
  span{
    color: $secondary;
  }
  &--text{
    line-height: 12rem;
    position: relative;
    z-index: 200;
    letter-spacing: 0.07em;

  }
}

// .main_title::before{
// content: "";
// background-image: url("../img/sygnet.svg");
// background-repeat: no-repeat;
// width:659.119px;
// height:503.6px;
// background-size: 100%;
// color: $secondary;
// position: absolute;
// z-index: 100;
// opacity: 0.2;
//
// }
$sygnet-move: 5rem;
.sygnet_bg{
  mask: url("../img/sygnet.svg");
  width:659.119px;
  height:503.6px;
  background-size: cover;
  // background-color: $white;
  position: absolute;
  z-index: 100;
  opacity: 1;
  }

.sygnet_bg_white{
  @extend .sygnet_bg;
  background-color: $white;
  margin-top: $sygnet-move;
}
.sygnet_bg_red{
  @extend .sygnet_bg;
  background-color: $secondary;
  margin-top: $sygnet-move +5rem;
}
.sygnet_bg_cyan{
  @extend .sygnet_bg;
  background-color: #00CBD2;
  margin-top: $sygnet-move -5rem;
}


.socials{
  &__title{
    position: relative;
    span{
      opacity: 0.6;
    }
    &::after{
      content: '';
      margin-left: 2rem;
      // position: absolute;
      @extend .elem_x;
    }
  }

}

.sponsors{
  &__title{
    span{
      opacity: 0.6;
    }
    &::before{
      content: '';
      margin-right: 2rem;
      @extend .elem_x;
    }

  }

}


// ============ ABOUT US ===========
$about-section-height: 57rem;
.about{
  &__sectionA{
    height: $about-section-height;
    &--text{

    }
  }
  &__sectionB{
    height: $about-section-height;
    &--text{

    }
  }

  &__bg{
    position: relative;
    &--1{
      height: $about-section-height;
      width: 96rem;
      background-image: url("../img/about1.png");
      background-repeat: no-repeat;
      // background-position: 50% 50%;
      background-size: cover;

    }
    &--2{
      height: $about-section-height;
      width: 96rem;
      background-image: url("../img/about2.png");
      background-repeat: no-repeat;
      // background-position: 50% 50%;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      // margin-right: -15px;
    }
  }

}


.team{
  height: 90rem;
  &__cont{
    position: relative;
    width: 26rem;
    height: 34rem;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(8,8,8,1) 0%, rgba(255,255,255,0.1) 100%);
    z-index: 100;
  }
  &__photo{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    z-index:120;
    right: 0;
    bottom: 0;

  }
  &__social1{
    position: absolute;
    height: 3.4rem;
    width: 3.4rem;
    background-image: url("../img/team_fb.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 3rem;
    left: 1rem;
  }
  &__social2{
    position: absolute;
    height: 3.4rem;
    width: 3.4rem;
    background-image: url("../img/team_insta.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 7.6rem;
    left: 1rem;
  }
  &__name{
    font-size: 3rem;
    letter-spacing: 0.13em;
    font-weight: 800;
    z-index: 150;
    position: absolute;
    left: 5rem;
    bottom: 1rem;
    transform-origin: bottom left ;
    transform: rotate(-90deg);

  }
}
